.messages-container{

}
.messages{
list-style: none;
/* width: 100%; */
padding: 0;
height: 500px;
overflow-y: scroll;

}
.message{
    display: flex;
}

.message-box{
    padding: 10px 24px;
    /* width: 100%; */
    border-radius: 10px;
}

.textarea{

}
.submitBtn{

}