
.ant-layout-header{
    display: flex;
    justify-content: space-between;
}
.layout .layout-menu{
    margin-right: auto;
    width: 70%;
}
.layout .ant-space-item{
    color: #fff;
}
.site-layout-content {
    height: 100vh;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
 
  .main{
    background: #fff;
    padding: 20px;
  }
  
  
  

.layout .like-comments .ant-space-item{
    color: black;
}
 